version: "3"
services:
  api:
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.prod
    restart: unless-stopped
    depends_on:
      - db
      - cache
    ports:
      - ${APPLICATION_PORT:-8000}:8000
    expose:
      - ${APPLICATION_PORT:-8000}
    env_file:
      - ./env/.env.prod
    environment:
      - ENVIRONMENT=PROD
    command: /app/script/startup.sh
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "--fail",
          "http://localhost:8000/health/"
        ]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s

  db:
    image: postgres:13
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - ${POSTGRES_EXPOSE:-5432}:5432
    expose:
      - ${POSTGRES_EXPOSE:-5432}
    volumes:
      - db_data:/var/lib/postgresql/data/pgdata
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USERNAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5
  cache:
    image: redis:6.2
    ports:
      - ${REDIS_EXPOSE:-6379}:6379
    expose:
      - ${REDIS_EXPOSE:-6379}
    restart: unless-stopped
    volumes:
      - cache_data:/data
    command: >
      --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a ${REDIS_PASSWORD} ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  cache_data: null
  db_data: null
